.body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  background: #f5f5f5;
  color: #515151;
  box-sizing: border-box;
}

.header_bar {
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_bar .logo {
  width: 20%;
  padding-left: 20px;
}

.header_bar .search {
  width: 20%;
}

.header_bar .search input {
  width: 300px;
  font-size: 18px;
  padding: 2px 5px;
}

.header_bar .grid-6 {
  width: 45%;
}

.header_bar .grid-6 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_bar .grid-6 ul li {
  padding-right: 60px;
}

.header_bar .grid-6 ul li:nth-child(1) {
  padding-left: 50px;
  width: 60px;
}

.header_bar .grid-6 ul li:nth-child(1) img {
  border-radius: 50%;
  border: 1px solid #51515196;
}

.header_bar .grid-6 ul li:nth-child(2) {
  text-decoration: underline;
  font-size: 20px;
}

.header_bar .grid-6 ul li:nth-child(3) {
  border: 1px solid #828282;
  padding: 10px 25px;
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 30px 0;
}

.contents .content {
  width: 30%;
  background-color: #fff;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contents .content_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.contents .content_header .user_icon img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid #51515196;
}

.contents .content_header .username {
  padding-left: 15px;
  width: 75%;
}

.contents .content_header .show img {
  width: 30px;
}

.contents .content_footer {
  padding: 15px 0;
}

.contents .content_footer .ramen_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contents .content_footer .ramen_info .footer-text {
  padding-bottom: 3px;
  position: relative;
}

.contents .content_footer .ramen_info .footer-text::before {
  position: absolute;
  bottom: -238px;
  left: -5px;
  width: 20px;
  -webkit-transform: scale(0.04);
          transform: scale(0.04);
  opacity: 0.5;
  -webkit-filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
          filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}

.contents .content_footer .ramen_info .footer-text:nth-child(1)::before {
  content: url(../img/noodles.png);
}

.contents .content_footer .ramen_info .footer-text:nth-child(2)::before {
  content: url(../img/shop.png);
}

.contents .content_footer .ramen_info .footer-text:nth-child(3)::before {
  content: url(../img/map-spot.png);
}

.contents .content_footer .ramen_info .footer-text img {
  width: 20px;
  padding-right: 10px;
}

.contents .content_footer .ramen_info .footer-text p {
  display: inline-block;
  padding-left: 35px;
}

.contents .content_footer .show_path {
  text-align: right;
}

.footer {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer-contents .ramenpatrol-details {
  width: 30%;
}

.footer-contents h2 {
  font-size: 18px;
  padding-bottom: 10px;
}

.footer-contents li {
  font-size: 16px;
  padding-bottom: 5px;
  text-decoration: underline;
}

.footer img {
  width: 25%;
  padding-top: 20px;
}

.footer small {
  display: block;
  font-size: 14px;
}

@media screen and (min-width: 1920px) {
  .contents {
    width: 92%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=stye.css.map */